{% extends "Modbase.html" %}

{% block site_wrapper %}
		<form action="{% url YAAS.views.password_change %}" method="post">
			{% csrf_token %}
			{{ form.as_p }}

			{% if form.old_password.errors %}
				<ol>
				{% for error in form.old_password.errors %}
					<li><strong>Old Password: {{ error|escape }}</strong></li>
				{% endfor %}
				</ol>
			{% endif %}

			{% if form.new_password.errors %}
				<ol>
				{% for error in form.new_password.errors %}
					<li><strong>New Password: {{ error|escape }}</strong></li>
				{% endfor %}
				</ol>
			{% endif %}

			{% if form.retype_newpassword.errors %}
				<ol>
				{% for error in form.retype_newpassword.errors %}
					<li><strong>Retype New Password: {{ error|escape }}</strong></li>
				{% endfor %}
				</ol>
			{% endif %}

		<input type="submit" value="Submit" />
		</form>
	<a href="{% url YAAS.views.my_account%}"> <p> back to account </p> </a>	
{% endblock %}
